header{
background-color:#9d0d0d;
height: 60px;
margin-top: -20px;
width: 100%;
color: white;
}
body{
    background-image: url("/images/bg.png");
}
h1{
    text-align: center;

}
#table{
    margin-top: 100px;
    margin-left: 15%;
    float: left;
    background-color: #5f5757bf;
}

#table1{
    margin-top: 100px;
    margin-right: 15%;
    float: right;
    background-color: #5f5757bf;
}

#button{
background-color: #9d0d0d;
background-repeat: no-repeat;
}